#titleFont {
  font-family: 'Montserrat', sans-serif;
}
#paraFont {
  font-family: 'Piazzolla', serif;
}
#open {
  display: block;
  transform: translateY(0%);
  transition: all 1s ease-in-out;
  z-index: 100;
  height: 100vh;
}
#close {
  display: none;
  transform: translateY(-100%);
  transition: transform 1s ease-in-out, visibility 0s 0.4s;
  transition: all 1s ease-in-out;
}
#links {
  list-style: none;
  text-emphasis: none;
  text-decoration: none;
}
#blogBackground {
  background-repeat: no-repeat;
  background-size: cover !important;
  transition: linear 0.2s;
}
