body,
footer {
  margin: 0 auto;
}
#container {
  margin: 0 auto;
  max-width: 1200px;
}
div#headerWrapper {
  width: 100% !important;
  margin: 0;
  background-color: #f4f4f4;
}
header {
  display: grid;
  grid-template-areas: "mainMenu" "theLogo";
}
.opened {
  display: block !important;
  transition: all 1s ease-in-out;
  z-index: 100;
  height: 100vh;
}
.closed {
  transition: transform 1s ease-in-out, visibility 0s 0.4s;
  transition: all 1s ease-in-out;
}
.open {
  display: block !important;
}
.close {
  display: none !important;
}
#menuIcon {
  grid-area: theIcon;
  font-size: 2rem;
}
.logo {
  grid-area: theLogo;
  margin: 1rem auto;
  max-width: 1200px !important;
}
.logo img {
  max-width: 250px;
}
.numberDiv {
  display: none;
}
.slideImageDiv {
  margin: 0 auto;
}
.slideImageDiv img {
  width: 100%;
}
.agentSubMenu {
  display: none;
  background-color: rgba(255, 232, 102, 0.75294118);
}
.mainMenu {
  grid-area: mainMenu;
  border: 4px solid black;
  border-left: none;
  border-right: none;
  background-color: #FFD700;
}
.mainMenu .aContainer {
  display: grid;
  padding: 0.3rem 0.5rem;
  margin: 0 auto;
  background-color: #FFD700;
  justify-content: space-between;
  grid-area: theMenu;
  grid-template-areas: "theIcon theSearch";
}
.mainMenu #searchDiv {
  padding: 0.2rem;
}
.mainMenu #searchDiv #searchBox {
  padding: 0.3rem 0.2rem;
  border: 3.5px solid black;
}
.mainMenu #searchDiv button {
  background-color: gold;
  padding: 0.33rem 0.2rem;
  outline: black !important;
  border: 2px solid black;
}
.mainMenu .menuLinks {
  padding: 0;
  display: none;
  text-align: center;
  margin: 2.75rem 0 0 -0.5rem;
  position: absolute;
  width: 100vw;
  background-color: #ffd900c0;
  grid-area: theLinks;
}
.mainMenu .menuLinks ul {
  padding: 0;
}
.mainMenu .menuLinks li {
  list-style: none;
  text-emphasis: none;
  text-decoration: none;
  font-family: 'Piazzolla', serif;
  font-size: 2rem;
  margin: 1rem 0;
}
.mainMenu .menuLinks li a {
  text-decoration: none;
  color: black;
  padding: 0.5rem 0;
}
.mainMenu #searchDiv {
  grid-area: theSearch;
}
@media screen and (min-width: 700px) {
  header {
    display: grid;
    grid-template-areas: "theLogo" "mainMenu";
  }
  #menuIcon {
    display: none;
  }
  .logo {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0.2rem auto;
  }
  .numberDiv {
    display: block;
  }
  .numberDiv a {
    list-style: none;
    text-emphasis: none;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .mainMenu {
    background-color: #FFD700;
  }
  .mainMenu .aContainer {
    grid-template-areas: "theLinks theSearch";
    margin-bottom: 0;
    max-width: 1200px;
    padding: 0;
  }
  .mainMenu .menuLinks {
    display: block;
    background-color: #FFD700;
    margin: 0;
    position: relative;
    width: inherit;
  }
  .mainMenu .menuLinks .agentSubMenu {
    display: none;
    position: absolute;
    padding: 0.25rem;
    margin-top: 1.1rem;
    margin-left: -0.5rem;
    text-align: left;
    z-index: 100;
    background-color: #FFD700;
    border: 4px solid black;
    border-top: #FFD700;
  }
  .mainMenu .menuLinks .agentSubMenu li {
    padding: 0.5rem 0;
  }
  .mainMenu .menuLinks .agentSubMenu a {
    padding: 0;
    font-size: 0.7rem;
  }
  .mainMenu .menuLinks ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0.2rem;
  }
  .mainMenu .menuLinks li {
    padding-right: 0.5rem;
    line-height: 0;
    font-size: 1rem;
    margin: 0;
  }
}
#titleFont {
  font-family: 'Montserrat', sans-serif;
}
#paraFont {
  font-family: 'Piazzolla', serif;
}
#open {
  display: block;
  transform: translateY(0%);
  transition: all 1s ease-in-out;
  z-index: 100;
  height: 100vh;
}
#close {
  display: none;
  transform: translateY(-100%);
  transition: transform 1s ease-in-out, visibility 0s 0.4s;
  transition: all 1s ease-in-out;
}
#links {
  list-style: none;
  text-emphasis: none;
  text-decoration: none;
}
