@import "../less/variables.less";
@import "../less/mixins.less";

//General settings

html {
  margin: 0;
}
body,
footer {
  // background-color: @mainBackgroundColor1;
  margin: 0 auto;
}

h2 {
  font-family: @titlesFont;
}

p {
  font-family: @commonFont;
}

#container {
  margin: 0 auto;
  max-width: 1200px;
}

#headerWrapper {
  width: 100% !important;
  margin: 0;
  background-color: @mainBackgroundColor1;
}

header {
  display: grid;
  grid-template-areas:
    "mainMenu"
    "theLogo";
}

.opened {
  display: block !important;
  transition: all 1s ease-in-out;
  z-index: 100;
  height: 100vh;
}

.closed {
  transition: transform 1s ease-in-out, visibility 0s 0.4s;
  transition: all 1s ease-in-out;
}

.open {
  display: block !important;
}

.close {
  display: none !important;
}

#menuIcon {
  grid-area: theIcon;
  font-size: 2rem;
}

.logo {
  img {
    max-width: 250px;
  }
  grid-area: theLogo;
  margin: 1rem auto;
  max-width: 1200px !important;
}

.numberDiv {
  display: none;
}

.slideImageDiv {
  margin: 0 auto;
  img {
    width: 100%;
  }
}

.agentSubMenu {
  display: none;
  background-color: lighten(@mainStyleColorTrans, 20%);
}

.mainMenu {
  grid-area: mainMenu;
  border: 4px solid black;
  border-left: none;
  border-right: none;
  background-color: @mainStyleColor;
  .aContainer {
    display: grid;
    padding: 0.3rem 0.5rem 0 0.5rem;
    margin: 0 auto;
    background-color: @mainStyleColor;
    justify-content: space-between;
    grid-area: theMenu;
    grid-template-areas: "theIcon theSearch";
  }

  #searchDiv {
    padding: 0.2rem;
    #searchBox {
      padding: 0.3rem 0.2rem;
      border: 3.5px solid black;
    }
    button {
      #button2;
    }
  }

  .menuLinks {
    padding: 0;
    display: none;
    text-align: center;
    margin: 2.45rem 0 0 -0.5rem;
    position: absolute;
    width: 100vw;
    background-color: @mainStyleColorTrans;
    grid-area: theLinks;
    ul {
      padding: 0;
    }
    li {
      #links;
      #paraFont;
      font-size: 2rem;
      margin: 1rem 0;
      a {
        text-decoration: none;
        color: black;
        padding: 0.5rem 0;
      }
    }
  }

  #searchDiv {
    grid-area: theSearch;
  }
}

//Blog grid

.blogsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 0;
  margin: 20px 10px;

  .blogTitle {
    padding: 0.2rem 0;
    background-color: rgba(0, 0, 0, 0.404);
  }
  a {
    #links;
    color: #f4f4f4;
    font-family: @titlesFont;
    font-size: 0.6rem;
  }

  .blog1 {
    background-image: url("../assets/images/blog1Dim.png");
    #blogBackground;
    &:hover {
      background-image: url("../assets/images/blog1Full.jpg");
      transition: linear 0.2s;
    }
  }

  .blog2 {
    background-image: url("../assets/images/blog2Dim.png");
    #blogBackground;
    &:hover {
      background-image: url("../assets/images/blog2Full.jpg");
      transition: linear 0.2s;
    }
  }

  .blog3 {
    background-image: url("../assets/images/blog3Dim.png");
    #blogBackground;
    &:hover {
      background-image: url("../assets/images/blog3Full.jpg");
      transition: linear 0.2s;
    }
  }

  .blog4 {
    background-image: url("../assets/images/blog4Dim.png");
    #blogBackground;
    &:hover {
      background-image: url("../assets/images/blog4Full.jpg");
      transition: linear 0.2s;
    }
  }
}

.aBlog {
  height: 46vw;
  width: 46vw;
  text-align: center;
  position: relative;
}

.dateDiv {
  padding: 0.2rem 0;
  background-color: rgba(0, 0, 0, 0.404);
  color: @mainBackgroundColor1;
  position: absolute;
  bottom: 0;
  width: 46vw;
}

//Footer items

footer {
  max-width: 1200px;
}
#footerWrapper {
  width: 100% !important;
  margin: 0;
  padding-left: 0.2rem;
  background-color: @mainBackgroundColor1;

  a {
    #links;
    color: black;
  }
  p {
    margin: 0.1rem 0;
  }
  h2 {
    margin-bottom: 0;
  }
}

.spacer {
  opacity: 0;
}

.contact {
  grid-area: contact;
}

.newsletter {
  grid-area: newsletter;
  button {
    #button1;
    width: 98%;
  }
  input {
    width: 50%;
    font-size: 2rem;
    width: 95.5%;
    margin: 0.75rem 0;
  }
}

.whyCabot {
  grid-area: why;
}

.social {
  text-align: center;
  //width: 100%;
  background-color: @mainStyleColor;
  padding: 1rem;
  border: 4px solid black;
  border-left: none;
  border-right: none;
  .socialIcon {
    font-size: 2rem;
    &:hover {
      color: @accentFontColor1;
    }
  }

  .socialWrapper {
    background-color: @mainStyleColor;
    border: 4px solid black;
    border-left: none;
    border-right: none;
  }
}

.copyright {
  font-size: 0.75rem;
  text-align: center;
  margin: 0.1rem 0 1rem 0;
}

//Media query medium
@media screen and (@midSize) {
  header {
    display: grid;
    grid-template-areas:
      "theLogo"
      "mainMenu";
  }
  #menuIcon {
    display: none;
  }
  .logo {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0.2rem auto;
  }

  .numberDiv {
    display: block;
    a {
      #links;
      color: black;
      font-size: 1.5rem;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .mainMenu {
    background-color: @mainStyleColor;
    .aContainer {
      grid-template-areas: "theLinks theSearch";
      margin-bottom: 0;
      max-width: 1200px;
      padding: 0 0.5rem;
    }

    .activeLink{
      //background-color: lighter(@mainStyleColor, 20%) !important;
      background-color: #f4f4f48c;

    }
    
    #searchDiv {
      
        button {
          padding: 0.28rem 0.2rem;
          margin-top: 0 !important;
        }
      
    }

    .menuLinks {
      display: block;

      .agentSubMenu {
        display: none;
        position: absolute;
        padding: 0.25rem;
        margin-top: 1.13rem;
        margin-left: -0.5rem;
        text-align: left;

        //width: inherit;
        z-index: 100;
        background-color: @mainStyleColor;
        border: 4px solid black;
        border-top: @mainStyleColor;
        li {
          padding: 0.5rem 0;
        }
        a {
          padding: 0;
          font-size: 0.7rem;
        }
      }

      background-color: @mainStyleColor;
      margin: 0;
      position: relative;
      width: inherit;
      ul {
        display: flex;
        justify-content: space-around;
        padding-left: 0.2rem;
      }
      li {
        padding-right: 0.5rem;
        line-height: 0;
        font-size: 1rem;
        margin: 0;
      }
    }
    
  }
  .blogsDiv {
    grid-template-columns: 1fr 1fr 1fr;
    a {
      font-size: 1rem;
    }
  }
  .aBlog {
    width: 32vw;
    height: 32vw;
  }
  .dateDiv {
    width: 32vw;
  }
  .social {
    .socialIcon {
      font-size: 4rem;
    }
  }
  .footerGrid {
    display: grid;
    gap: 2px;
    grid-template-areas:
      "contact newsletter"
      "why why";
  }
}

//Media query large screens
@media screen and (@largeSize) {
  .blogsDiv {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .aBlog {
    width: 22vw;
    height: 22vw;
    max-height: 290px;
    max-width: 290px;
  }
  .dateDiv {
    width: 22vw;
    max-width: 290px;
  }
  .footerGrid {
    gap: 10px;
    grid-template-areas: "contact newsletter why";
  }
}


//Cruise page
.pageTitle{
  font-family: @titlesFont
}

.gridContainer{
  #gridIt;
  gap: 10px;
}

.cruiseGrid{
  #gridIt;
  grid-template-areas: 
  "theImage"
  "theText"
  "theButton";
}

.cruiseImage{
  grid-area: theImage;
  img{
    max-width: 100%;
  }
}

.cruiseText{
  padding: .2rem;
  grid-area: theText;
  h2{
    font-family: @titlesFont;
  }
  p{
    font-family: @commonFont;
    margin-bottom: .1rem;
  }
}

.cruiseButtonDiv{
  padding: .2rem;
  text-align: right;
  grid-area: theButton;
}

.cruiseButton{
  #button1;
  font-size: 1.5rem;
  max-width: 100%;
  margin-bottom: 1.5rem;
}

@media screen and (@midSize) {
  .cruiseGrid{
    grid-template-areas: 
    "theImage theText";
   
  }
  .cruiseButton{
    #button3;
    width: unset;
  }
  .cruiseText{
    padding-top: 0;
    h2{margin-top: 0;}
  }
  .cruiseImage{
    padding: 0 .75rem .75rem .75rem;
  }
}

@media screen and (@largeSize) {
  .cruiseButton{
    #button2;
    font-size: 1rem;
    border-radius: 10px;
  }
  .cruiseText{
   p{
    margin-bottom: .75rem;
   }
  }
  .cruiseImage{
    grid-area: theImage;
    img{
      max-width: 365px;
    }
  }
}