@import "../less/variables.less";

#flexed {
  display: flex;
}

#links {
  text-decoration: none;
  list-style: none;
  font-style: normal;
  color: black
}

#gridContainer {
  display: grid;
  gap: 10px;
}